{:calls [{:arg-key {:query-string nil,
                    :request-method :get,
                    :server-name "api.zippopotam.us",
                    :server-port nil,
                    :uri "/us/33162"},
          :return {:body #vcr-clj/input-stream
                   ["H4sIAAAAAAAAA2SNwQqDMBBEf2XZcys1Ukn9AE/tSXoqPawmlAVNJFkLRfz3EgUp9Da8Gd7MOPo"
                    "o0HljsQIsirxUeADs/OQkfBK7OxZroBESG386oLYN9s0k7N06bFI79tTZiBU85i2Do2GV35gGTp"
                    "PeuxfLtF0e9SnLdZF4TBeJ1b0PbGhnf1f1dfWQ7Bp1zi5Kl7g8ly8AAAD//wMAICSdIdQAAAA="],
                   :cached nil,
                   :chunked? true,
                   :headers #vcr-clj/clj-http-header-map
                   {"CF-Cache-Status" "DYNAMIC",
                    "CF-RAY" "6b459c2d99536f00-BOM",
                    "Connection" "close",
                    "Content-Encoding" "gzip",
                    "Content-Type" "application/json",
                    "Date" "Fri, 26 Nov 2021 19:44:12 GMT",
                    "Expect-CT" "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
                    "NEL" "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
                    "Report-To" "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=lBATB6D8yKNHYfsg0%2F8sfR1P%2FWvHkrFviiEVexfX5W328nCVjsCwIKzxRutlyvjRUCvOUTPQBcll52z%2BQ9mB3dyIVo3S9iyDB%2B6y8SzeQJxCl3H3NPZeSI%2BQt%2FfE6wytp53guA%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
                    "Server" "cloudflare",
                    "Transfer-Encoding" "chunked",
                    "access-control-allow-origin" "*",
                    "alt-svc" "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400",
                    "charset" "UTF-8",
                    "vary" "Accept-Encoding",
                    "x-cache" "hit"},
                   :http-client "-- clj-http cannot serialize instances of org.apache.http.client.HttpClient --",
                   :length -1,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "OK",
                   :repeatable? false,
                   :status 200,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.core/request"}],
 :recorded-at #inst "2021-11-26T19:44:12.066-00:00"}
