{:calls [{:arg-key {:query-string nil,
                    :request-method :get,
                    :server-name "api.zippopotam.us",
                    :server-port nil,
                    :uri "/us/213412"},
          :return {:body #vcr-clj/input-stream ["e30="],
                   :cached nil,
                   :chunked? false,
                   :headers #vcr-clj/clj-http-header-map
                   {"CF-Cache-Status" "DYNAMIC",
                    "CF-RAY" "6b45acbc29e86e94-BOM",
                    "Connection" "close",
                    "Content-Length" "2",
                    "Content-Type" "application/json",
                    "Date" "Fri, 26 Nov 2021 19:55:30 GMT",
                    "Expect-CT" "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\"",
                    "NEL" "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}",
                    "Report-To" "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=xBfpNj8rsS4yS9NTGR6RLgVvXLJdUXOGDC9BCaY4HI6LZcX%2FbEcItLNQONZOtilNyW8zJt8TYfHdkqQhDbb8K1P5mZXrNzZCcQU%2Bk%2BYbU3nwA%2FdPOQGC22LaMHfsQn87GrdxeA%3D%3D\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
                    "Server" "cloudflare",
                    "access-control-allow-origin" "*",
                    "alt-svc" "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400, h3-28=\":443\"; ma=86400, h3-27=\":443\"; ma=86400",
                    "charset" "UTF-8",
                    "vary" "Accept-Encoding"},
                   :http-client "-- clj-http cannot serialize instances of org.apache.http.client.HttpClient --",
                   :length 2,
                   :protocol-version {:major 1, :minor 1, :name "HTTP"},
                   :reason-phrase "Not Found",
                   :repeatable? false,
                   :status 404,
                   :streaming? true,
                   :trace-redirects []},
          :var-name "clj-http.core/request"}],
 :recorded-at #inst "2021-11-26T19:55:30.272-00:00"}
